.clearfix {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
.container {
    .clearfix;
    
    max-width: 960px;
    min-width: 320px;

    margin: 0 auto;
    position: relative;
    font-size: 1.2em;
    clear: both;
}
body {
    padding: 0;
    margin: 0;
    background: #fff;
    color: #444;
    font-family: Arial, "Lucida Grande", sans-serif;
    line-height: 1.4;
    font-size: 62.3%;

}
a {
    color: #000;
    padding: 2px;

    &:hover {
        color: #fff;
        background-color: #000;
    }
}
.main-nav {
    .clearfix;
    background: #000;
    a {
        color: #fff;
        display: block;

        &.brand {
            float: left;
            font-size: 200%;
            letter-spacing: 9px;
        }
    }

    ul {
        float: right;

        li {
            float: left;
        }
    }
    .user-control {
        float: right;
        color: #ccc;
        a {
            display: inline;
        }
    }
}

.colwrap {
    .clearfix;
    position: relative;
    .main-content {
        float: left;
        width: 800px;

        .item {
            display: block;
            float: left;
            width: 21%;
            padding: 11px 1%;
            min-height: 320px;
            margin: 1% 2% 1% 0;
            background: #fff;
            position: relative;
            height: auto;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 4px;
            -mox-border-radius: 4px;
            border-radius: 4px;

            img {
                width: 100%;
                height: auto;
                display: block;
                border: none;
                margin-bottom: 1em;
            }
            h3 {
                margin-bottom: 0.6em;
            }
            .metadata {
                .clearfix;
                font-size: 80%;
                margin: 2em 0 0;
                padding: 0;
                clear: both;

                .tab {
                    float: left;
                    margin-right: 1em;
                }
            }
            &:hover {
                color: inherit;
            }

            .date {
                float: left;
                width: 50%;

                .weekday {
                    clear: both;
                    display: block;
                }
                
                &.single {
                    float: none;
                    width: 100%;

                    .weekday {
                        clear: none;
                        display: inline;
                    }
                }
                .day-number {
                    margin: 0 auto;
                    display: block;
                    float: left;
                    padding: 4px;
                    background: #f0f0f0;
                    border: 1px solid #ccc;
                    font-size: 160%;
                    font-weight: bold;
                    margin-right: 0.3em;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    clear: both;
                }

            }
        }

        .full {
            aside {
                float: left;
                width: 140px;
            }
            .info {
                width: 600px;
                float: left;
                margin-left: 2em;

                h1 {
                    margin-top: 1em;
                    font-size: 200%;
                }

                dl {
                    .clearfix;
                    margin-top: 2em;
                    
                    dt {
                        display: block;
                        float: left;
                        width: 200px;
                        clear: left;
                        padding: 6px 0 5px;
                        border-top: 1px dotted #cbb;
                    }
                    dd {
                        display: block;
                        float: left;
                        width: 400px;
                        padding: 6px 0 5px;
                        border-top: 1px dotted #cbb;
                    }
                }
                .description {
                    font-size: 120%;
                    clear: both;
                    margin: 4em 0;
                }

                .related {
                    .item {
                        min-height: 270px;
                        height: auto !important;
                        height: 270px;
                    }
                }


            }
        }
    }

    .sidebar {
       float: right;
       width: 158px;
       background: #d7efef;
       border: 1px solid #ccc;
       margin-top: 1em;

       nav {
            a {
                display: block;
                font-size: 220%;
                padding: 6px;
            }
       }
    }
}
.icon {
    background-color: none;
    &:hover {
        background-color: none;
    }
}
.love {
    display: inline-block;
    background: url(../images/icons.png) no-repeat -3px -2px;
    text-indent: -9999px;
    width: 28px;
    height: 25px;

    &.loving {
        background: url(../images/icons.png) no-repeat -59px -2px;
    }
}

.comments-textarea {
    width: 100%;
    min-height: 120px;
    height: auto !important;
    height: 120px;
}
.uploads-placeholder {
    .clearfix;
    background: url(../images/placeholder-upload.png);
    float: left;
    width: 500px;
    height: 100px;
    clear: both;

    .thumbnail {
        float: left;
        margin-right: 18px;
        padding: 1px;
    }
    
    &+form {
        clear: both;
    }
}

.comments {
    clear: both;
    .clearfix;

    .comment {
        border-top: 1px dotted #ccc;
    }
    .comment-submit {
        float: right;
    }
}

.item-long {
    .clearfix;
    
    border-top: 1px dotted #dcc;
    padding: 11px 0 20px;

    img {
        float: left;
        margin-right: 1em;
    }
}
.page-title {
    font-size: 220%;
    margin: 1em 0 2em;
}
.section-title {
    font-size: 150%;
    margin-bottom: 1em;
}

.node-form {
    .control-group {
        .clearfix;
        clear: both;
        width: 96%;
        margin-bottom: 1.4em;

        .control-label {
            font-weight: bold;
            display: block;
            padding-top: 0.8em;
            border-top: 1px dotted #dcc;
        }

        .controls {
            input[type=text] {
                padding: 2%;
                width: 96%;
                display: block;
            }
            select {
                width: 100%;
                padding: 2em;
            }
            textarea {
                padding: 2%;
                width: 96%;
            }

        }
    }
}

.language-name {
    padding-right: 1.4em;
}

.month-bar {
    .clearfix;
    background: #d7efef;
    clear: both;
    width: 98%;
    
    h1 {
        font-size: 250%;
        color: #404747;
        padding: 2%;
    }
}